.places {
  margin: 92px auto 0;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin: 88px auto 0;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: 64px 0 0;
  }
}
