.cover__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}
