.header__logo {
  background-image: url("../../../images/logo/logo-ru.svg");
  width: 176px;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
