.header {
  width: calc(100% - 96px);
  height: 52px;
  margin: 28px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
  }
}
