.footer__links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
