.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/dmitrii-vaccinium-22833-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 740px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.cover__background:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}
