.cover__title {
  margin: 0 0 32px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    margin: 0 0 16px;
  }
}
