.place {
  margin: 0 0 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 48px 40px;
}

.place:nth-of-type(5) {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    min-width: 320px;
    margin: 0 0 50px;
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 32px;
  }
}
