.footer {
  margin: 92px auto 24px;
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px auto 24px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 64px 118px 24px 16px;
    width: calc(100% - 134px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
